<!DOCTYPE html>
<html>
  <head>
    <title>SuperHeroes</title>
  </head>

  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="post">
  <p>Team Name: <input type="text" name="team[name]"> </p>
  <p>Team Motto: <input type="text" name="team[motto]"> </p>

  <p>Superhero 1 Name : <input type="text" name="member1_name"></p>
  <p>Superhero 1 Power : <input type="text" name="member1_power"></p>
  <p>Superhero 1 Bio : <input type="text" name="member1_bio"</p>

  <p>Superhero 2 Name: <input type="text" name="member1_name"></p>
  <p>Superhero 2 Power: <input type="text" name="member1_power"></p>
  <p>Superhero 2 Bio: <input type="text" name="member1_bio"</p>

  <p>Superhero 3 Name: <input type="text" name="member1_name"></p>
  <p>Superhero 3 Power: <input type="text" name="member1_power"></p>
  <p>Superhero 3 Bio: <input type="text" name="member1_bio"</p>
  <p><input type="submit">
</form>


  </body>
</html>
